/* Sliding menu*/
.menu__toggler {
  position: absolute;
  top: 16px;
  right: 30px;
  z-index: 1026;
  height: 28px;
  width: 28px;
  outline: none;
  cursor: pointer;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
.menu__toggler.active{
  right: 380px;
}
.menu__toggler span,
.menu__toggler span::before,
.menu__toggler span::after {
  position: absolute;
  content: '';
  width: 25px;
  height: 1px;
  background: #fafafa;
  border-radius: 20px;
  -webkit-transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
}
.menu__toggler span::before {
  top: -3px;
}
.menu__toggler span::after {
  top: 3px;
}
.menu__toggler.active > span {
  background: transparent;
}
.menu__toggler.active > span::before, .menu__toggler.active > span::after {
  background: #cbbcb1;
  top: -12px;
  font-size: 40px;
  width: 40px;
}
.menu__toggler.active > span::before {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}
.menu__toggler.active > span::after {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

/*
 * SLIDING MENU PANEL
 */
.slidemenu {
 position: absolute;
/*  right: -550px;*/
  right: -3000px;
  z-index: 1025;
  top: -10px;
  background: #464246;
  width: 480px;
  height: 320px;
  padding: 80px 55px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-transition: 300ms right cubic-bezier(0.77, 0, 0.175, 1);
  transition: 300ms right cubic-bezier(0.77, 0, 0.175, 1);
}
.slidemenu.active {
  right: -25px;
}
.slidemenu a {
  font-size: 18px;
  line-height: 38px;
  font-weight: 300;
  color: #fff;
}

/* MObile menu*/
 div#dl-menu{display: none;}   
.dl-menuwrapper {
  width: 100%;
  max-width: 300px;
  float: left;
  position: relative;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 50% 200%;
  perspective-origin: 50% 200%;
  z-index: 11;
}

.dl-menuwrapper:first-child {
  margin-right: 100px;
}

.dl-menuwrapper button {
  background: transparent;
    border: none;
    width: 48px;
    float: right;
    height: 45px;
    text-indent: -900em;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    outline: none;
}

.dl-menuwrapper button:hover,
.dl-menuwrapper button.dl-active,
.dl-menuwrapper ul {
  background: #cabcb0;
}

.dl-menuwrapper button:after {
  content: '';
  position: absolute;
  width: 68%;
  height: 1px;
  background: #fff;
  top: 10px;
  left: 16%;
  box-shadow: 
    0 10px 0 #fff, 
    0 20px 0 #fff;
}

.dl-menuwrapper ul {
  padding: 0;
  list-style: none;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.dl-menuwrapper li {
  position: relative;
}

.dl-menuwrapper li a {
     display: block;
    font-family: 'Exo 2', sans-serif;
    position: relative;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #000;
    outline: none;
}

.no-touch .dl-menuwrapper li a:hover {
  background: rgba(255,248,213,0.1);
}

.dl-menuwrapper li.dl-back > a {
  padding-left: 30px;
  background: rgba(0,0,0,0.1);
}

.dl-menuwrapper li.dl-back:after, .dl-menuwrapper li > a:not(:only-child):after {
    position: absolute;
    top: 10px;
    color: #000;
    line-height: 40px;
    font: normal normal normal 25px/1 FontAwesome;
    speak: none;
    -webkit-font-smoothing: antialiased;
    content: "\f105";
}

.dl-menuwrapper li.dl-back:after {
    left: 10px;
    top: 10px;
    color: #000;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.dl-menuwrapper li > a:after {
  right: 10px;
  color: rgba(0,0,0,0.15);
}

.dl-menuwrapper .dl-menu {
  margin: 5px 0 0 0;
  position: absolute;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.dl-menuwrapper .dl-menu.dl-menu-toggle {
  transition: all 0.3s ease;
}

.dl-menuwrapper .dl-menu.dl-menuopen {
  opacity: 1;
  padding:0;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  top: 45px;
     background: #cabcb0;
    color: #000;
}

/* Hide the inner submenus */
.dl-menuwrapper li .dl-submenu {
  display: none;
}

/* 
When a submenu is openend, we will hide all li siblings.
For that we give a class to the parent menu called "dl-subview".
We also hide the submenu link. 
The opened submenu will get the class "dl-subviewopen".
All this is done for any sub-level being entered.
*/
.dl-menu.dl-subview li,
.dl-menu.dl-subview li.dl-subviewopen > a,
.dl-menu.dl-subview li.dl-subview > a {
  display: none;
}

.dl-menu.dl-subview li.dl-subview,
.dl-menu.dl-subview li.dl-subview .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
  display: block;
}

/* Dynamically added submenu outside of the menu context */
.dl-menuwrapper > .dl-submenu {
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0;
  margin: 0;
}

/* Animation classes for moving out and in */

.dl-menu.dl-animate-out-1 {
  -webkit-animation: MenuAnimOut1 0.4s;
  animation: MenuAnimOut1 0.4s;
}

.dl-menu.dl-animate-out-2 {
  -webkit-animation: MenuAnimOut2 0.3s ease-in-out;
  animation: MenuAnimOut2 0.3s ease-in-out;
}

.dl-menu.dl-animate-out-3 {
  -webkit-animation: MenuAnimOut3 0.4s ease;
  animation: MenuAnimOut3 0.4s ease;
}

.dl-menu.dl-animate-out-4 {
  -webkit-animation: MenuAnimOut4 0.4s ease;
  animation: MenuAnimOut4 0.4s ease;
}

.dl-menu.dl-animate-out-5 {
  -webkit-animation: MenuAnimOut5 0.4s ease;
  animation: MenuAnimOut5 0.4s ease;
}

@-webkit-keyframes MenuAnimOut1 {
  0% { }
  50% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
  }
  75% {
    -webkit-transform: translateZ(-372.5px) rotateY(15deg);
    opacity: .5;
  }
  100% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }
}

@-webkit-keyframes MenuAnimOut2 {
  0% { }
  100% {
    -webkit-transform: translateX(-100%);
    opacity: 0;
  }
}

@-webkit-keyframes MenuAnimOut3 {
  0% { }
  100% {
    -webkit-transform: translateZ(300px);
    opacity: 0;
  }
}

@-webkit-keyframes MenuAnimOut4 {
  0% { }
  100% {
    -webkit-transform: translateZ(-300px);
    opacity: 0;
  }
}

@-webkit-keyframes MenuAnimOut5 {
  0% { }
  100% {
    -webkit-transform: translateY(40%);
    opacity: 0;
  }
}

@keyframes MenuAnimOut1 {
  0% { }
  50% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
    transform: translateZ(-250px) rotateY(30deg);
  }
  75% {
    -webkit-transform: translateZ(-372.5px) rotateY(15deg);
    transform: translateZ(-372.5px) rotateY(15deg);
    opacity: .5;
  }
  100% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }
}

@keyframes MenuAnimOut2 {
  0% { }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes MenuAnimOut3 {
  0% { }
  100% {
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    opacity: 0;
  }
}

@keyframes MenuAnimOut4 {
  0% { }
  100% {
    -webkit-transform: translateZ(-300px);
    transform: translateZ(-300px);
    opacity: 0;
  }
}

@keyframes MenuAnimOut5 {
  0% { }
  100% {
    -webkit-transform: translateY(40%);
    transform: translateY(40%);
    opacity: 0;
  }
}

.dl-menu.dl-animate-in-1 {
  -webkit-animation: MenuAnimIn1 0.3s;
  animation: MenuAnimIn1 0.3s;
}

.dl-menu.dl-animate-in-2 {
  -webkit-animation: MenuAnimIn2 0.3s ease-in-out;
  animation: MenuAnimIn2 0.3s ease-in-out;
}

.dl-menu.dl-animate-in-3 {
  -webkit-animation: MenuAnimIn3 0.4s ease;
  animation: MenuAnimIn3 0.4s ease;
}

.dl-menu.dl-animate-in-4 {
  -webkit-animation: MenuAnimIn4 0.4s ease;
  animation: MenuAnimIn4 0.4s ease;
}

.dl-menu.dl-animate-in-5 {
  -webkit-animation: MenuAnimIn5 0.4s ease;
  animation: MenuAnimIn5 0.4s ease;
}

@-webkit-keyframes MenuAnimIn1 {
  0% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }
  20% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateZ(0px) rotateY(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes MenuAnimIn2 {
  0% {
    -webkit-transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes MenuAnimIn3 {
  0% {
    -webkit-transform: translateZ(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
}

@-webkit-keyframes MenuAnimIn4 {
  0% {
    -webkit-transform: translateZ(-300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
}

@-webkit-keyframes MenuAnimIn5 {
  0% {
    -webkit-transform: translateY(40%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@keyframes MenuAnimIn1 {
  0% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }
  20% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
    transform: translateZ(-250px) rotateY(30deg);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateZ(0px) rotateY(0deg);
    transform: translateZ(0px) rotateY(0deg);
    opacity: 1;
  }
}

@keyframes MenuAnimIn2 {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes MenuAnimIn3 {
  0% {
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    opacity: 1;
  }
}

@keyframes MenuAnimIn4 {
  0% {
    -webkit-transform: translateZ(-300px);
    transform: translateZ(-300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    opacity: 1;
  }
}

@keyframes MenuAnimIn5 {
  0% {
    -webkit-transform: translateY(40%);
    transform: translateY(40%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-1 {
  -webkit-animation: SubMenuAnimIn1 0.4s ease;
  animation: SubMenuAnimIn1 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-2 {
  -webkit-animation: SubMenuAnimIn2 0.3s ease-in-out;
  animation: SubMenuAnimIn2 0.3s ease-in-out;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-3 {
  -webkit-animation: SubMenuAnimIn3 0.4s ease;
  animation: SubMenuAnimIn3 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-4 {
  -webkit-animation: SubMenuAnimIn4 0.4s ease;
  animation: SubMenuAnimIn4 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-5 {
  -webkit-animation: SubMenuAnimIn5 0.4s ease;
  animation: SubMenuAnimIn5 0.4s ease;
}

@-webkit-keyframes SubMenuAnimIn1 {
  0% {
    -webkit-transform: translateX(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes SubMenuAnimIn2 {
  0% {
    -webkit-transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes SubMenuAnimIn3 {
  0% {
    -webkit-transform: translateZ(-300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
}

@-webkit-keyframes SubMenuAnimIn4 {
  0% {
    -webkit-transform: translateZ(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
}

@-webkit-keyframes SubMenuAnimIn5 {
  0% {
    -webkit-transform: translateZ(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes SubMenuAnimIn1 {
  0% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes SubMenuAnimIn2 {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes SubMenuAnimIn3 {
  0% {
    -webkit-transform: translateZ(-300px);
    transform: translateZ(-300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    opacity: 1;
  }
}

@keyframes SubMenuAnimIn4 {
  0% {
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    opacity: 1;
  }
}

@keyframes SubMenuAnimIn5 {
  0% {
    -webkit-transform: translateZ(-200px);
    transform: translateZ(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-1 {
  -webkit-animation: SubMenuAnimOut1 0.4s ease;
  animation: SubMenuAnimOut1 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-2 {
  -webkit-animation: SubMenuAnimOut2 0.3s ease-in-out;
  animation: SubMenuAnimOut2 0.3s ease-in-out;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-3 {
  -webkit-animation: SubMenuAnimOut3 0.4s ease;
  animation: SubMenuAnimOut3 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-4 {
  -webkit-animation: SubMenuAnimOut4 0.4s ease;
  animation: SubMenuAnimOut4 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-5 {
  -webkit-animation: SubMenuAnimOut5 0.4s ease;
  animation: SubMenuAnimOut5 0.4s ease;
}

@-webkit-keyframes SubMenuAnimOut1 {
  0% {
    -webkit-transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(50%);
    opacity: 0;
  }
}

@-webkit-keyframes SubMenuAnimOut2 {
  0% {
    -webkit-transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
    opacity: 0;
  }
}

@-webkit-keyframes SubMenuAnimOut3 {
  0% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-300px);
    opacity: 0;
  }
}

@-webkit-keyframes SubMenuAnimOut4 {
  0% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(300px);
    opacity: 0;
  }
}

@-webkit-keyframes SubMenuAnimOut5 {
  0% {
    -webkit-transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-200px);
    opacity: 0;
  }
}

@keyframes SubMenuAnimOut1 {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
  }
}

@keyframes SubMenuAnimOut2 {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes SubMenuAnimOut3 {
  0% {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-300px);
    transform: translateZ(-300px);
    opacity: 0;
  }
}

@keyframes SubMenuAnimOut4 {
  0% {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    opacity: 0;
  }
}

@keyframes SubMenuAnimOut5 {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-200px);
    transform: translateZ(-200px);
    opacity: 0;
  }
}

/* No JS Fallback */
.no-js .dl-menuwrapper .dl-menu {
  position: relative;
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

.no-js .dl-menuwrapper li .dl-submenu {
  display: block;
}

.no-js .dl-menuwrapper li.dl-back {
  display: none;
}

.no-js .dl-menuwrapper li > a:not(:only-child) {
  background: rgba(0,0,0,0.1);
}

.no-js .dl-menuwrapper li > a:not(:only-child):after {
  content: '';
}


/* Demo 3 */
.demo-3 .dl-menuwrapper button {
  background: #08cbc4;
}

.demo-3 .dl-menuwrapper button:hover,
.demo-3 .dl-menuwrapper button.dl-active,
.demo-3 .dl-menuwrapper ul {
  background: #00b4ae;
}

    .site-header.shrink{ transition:all ease-in-out 0.3s; background: #313131;/*background: rgba(0,0,0,1)*/;
box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15); padding-top: 10px;
    padding-bottom: 10px;}
.site-header.shrink .navbar{padding-top: 0; padding-bottom: 0px;}
.site-header.shrink .navbar .mainmenu li a.nav-link{padding-top: 1rem; padding-bottom:1rem; /*font-size: 95%;*/}
.site-header.shrink .navbar-brand{top: -2px;}
.site-header.shrink .navbar-brand img{max-width: 210px;}
.site-header.shrink .navbar .header-cont li.contact-btn a{padding: .7rem 1.5rem; font-size: 15px; transition: all 0.3s;}
.site-header.shrink .logo-white,
.site-header .logo-blue{display: none;}
.site-header.shrink .logo-blue{display: inline-block;}
.site-header{transition:all ease-in-out 0.3s; padding: 10px 0 0; background: transparent;}
.site-header .navbar{max-width:1320px; padding-bottom: 0;}
.site-header .navbar-nav{align-items: center; margin-right: 60px;}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}
.navbar .mainmenu li a.nav-link:hover {
    color: #cbbcb1;
}
/*Dark Header*/
.site-header.shrink .navbar .header-cont li.phoneno a,
.site-header.shrink .navbar .mainmenu li a.nav-link,
.site-header.header-dark .navbar .mainmenu li a.nav-link,
.site-header.header-dark .navbar .header-cont li.phoneno a{color: #fff;}
.site-header.header-dark .navbar .header-cont li.phoneno a:hover,
header.header-dark .navbar .mainmenu li a.nav-link.active,
header.header-dark .navbar .mainmenu li:hover a.nav-link{color: #cbbcb1 !important; }

@keyframes slide-down {
    0% {opacity: 0; transform: translateY(-100%); }
    100% {opacity: 0.9; transform: translateY(0); }
}

/* Mainmenu */
.header-right{position: relative; }
.navbar .mainmenu li a.nav-link{    font-weight: 500;
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    padding-top: 0px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;}
.site-header.shrink .navbar .mainmenu li.dropdown:hover > a{color: #cbbcb1;}
.navbar .mainmenu li a.nav-link i{font-weight: normal; font-size: 17px;}
.navbar .mainmenu li:hover a.nav-link i{transform: rotate(180deg);}
.navbar .header-cont li.phoneno{margin-left: 0.6rem; margin-right: 1.2rem;}
.navbar .header-cont li.phoneno a{font-size: 18px; font-weight: 900;}
.navbar .header-cont li.contact-btn a{text-transform: uppercase; font-size: 16px; letter-spacing: 0.3px;
font-weight: 900; padding: .8rem 1.8rem;  transition: all 0.3s;}


/*Mega Menu*/
.header-right{position: static;}
.navbar .mainmenu li.dropdown > a{position: relative;}
.navbar .mainmenu li.dropdown > a:after {content: ''; position: absolute; top: calc(100% - 16px);
    left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%);
    border-right: 20px solid transparent;
    border-bottom: 18px solid rgb(255, 255, 255);
    border-left: 20px solid transparent;
    display: none; width: 0; height: 0;
  }

/*.mega-dropdown { position: static !important; }*/
.mega-dropdown-menu {     background: #cbbcb1;
    padding: 25px 30px 25px;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin-top: 0;
    border-radius: 0;
    top: calc(100% - 1px);
    left: -9999999px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -o-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    -o-transition: -o-transform 0.4s, opacity 0.4s;
    -ms-transition: -ms-transform 0.4s, opacity 0.4s;
    -moz-transition: -moz-transform 0.4s, opacity 0.4s;
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform: rotateX(-75deg);
    -o-transform: rotateX(-75deg);
    -moz-transform: rotateX(-75deg);
    -webkit-transform: rotateX(-75deg);
    opacity: 0;
    /* border: 1px solid rgba(0,0,0,.05); */
    border-top: 5px solid#464246;
  }

.navbar .mainmenu li.dropdown:hover .dropdown-menu{opacity: 1; left: 15px; right: 15px;
  transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
}
.smm-megamenu {width: 815px; top: calc(100% - 10px)!important;}
.smm-mega-dropdown { position: static !important; }
.sm-megamenu{width: 325px;}
.mega-dropdown-menu h4{color: #262626; font-size: 28px; font-weight: 700; margin-bottom: 30px;}
.mega-dropdown-menu ul > li{margin-bottom: 0px;}
.mega-dropdown-menu ul > li i {margin-right: 12px; vertical-align: middle; position: relative; top: -4px; left: 0; position: relative;}
.mega-dropdown-menu ul > li:hover i{left: 8px;}
.mega-dropdown-menu ul > li > a {    font-size: 18px;
    font-weight: 400;
    line-height: 38px;;
    color: #333;
    padding: 3px 5px}
.mega-dropdown-menu ul > li > a.active, .mega-dropdown-menu ul > li > a:hover{color: #333;
    text-decoration: none;
    padding-left: 12px;
    font-size: 18px;
    line-height: 38px;}
.mega-dropdown-menu ul > li.hasclass i {left: 8px; }
.second-serv{margin-top: 25px;}
@media (max-width: 1024px){

  .site-header .navbar-brand .logo {max-width: 230px; }
  .navbar .mainmenu li a.nav-link,
  .navbar .header-cont li.phoneno a {font-size: 16px;}
  .navbar .mainmenu li a.nav-link{padding-right: .5rem; padding-left: .5rem; }
  .navbar .header-cont li.contact-btn a{font-size: 15px; padding: .8rem 0.8rem;}
  .site-header.shrink .navbar .header-cont li.contact-btn a{padding: .6rem 0.8rem;}
  .navbar .mainmenu li a.nav-link i{top: 2px; position: relative;}
  }
  @media (max-width: 991px){
button.navbar-toggler.action--open {
    display: none;
}
div#dl-menu{display: block;}
  .site-header{background: #000; padding: 0px 0 5px;}
  .site-header .navbar-collapse { position: absolute; top: 75px; left: -400px; padding-left: 15px; padding-right: 15px; padding-bottom: 15px; width: 100%; max-width: 400px; transition: all 0.3s ease; display: block; background: #333; height: 100vh; }
  .site-header .navbar-collapse.collapsing { height: 100vh; margin-right: 50%; transition: all 0.3s ease; display: block; }
  .site-header .navbar-collapse.show { left: 0; width: 100%; max-width: 400px; transition: all 0.3s ease; }
  #navbarSupportedContent{display: none;}
  .site-header .navbar-toggler{position: inherit; top: inherit; right: inherit; left: inherit;border: none;
    padding: 0;}
  .site-header .navbar-toggler:focus{outline: none; box-shadow: none;}
}
@media (min-width: 992px) {
  /*.mobile_menu{display: none;}*/
  .site-header {position: fixed; top: 0; right: 0; left: 0; z-index: 1030; }
  .site-header .navbar-brand{position: relative; top: -10px; padding-top: 0; padding-bottom: 0;}
  }
  @media(max-width: 530px){
    #dl-menu{position: absolute; right: 10px}
    .dl-menuwrapper .dl-menu.dl-menuopen {
    top: 50px;
  }
  .dl-menuwrapper .dl-menu {
  margin:0;
}
  }
